    .tabla {
        margin-left: 10%;
    }

     
@media (max-width: 546px) and (min-width: 300px) {
    .tabla {
        margin-left: 10%;
    }
}
                                
@media (max-width: 375px) and (min-width: 300px) {
    .tabla {
        margin-left: 0;
    }
}

@media (max-width: 300px) {
    th, td {
        font-size: 14px; 
        padding: 8px; 
    }
    #save {
        font-size: 14px;
    }
    button.btn-primary {
        font-size: 12px; /
    }
}